/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Title message and button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron p {
  margin: 15px 0;
  font-size: 12px;
  font-weight: normal;
}
.jumbotron .btn-link {
  cursor: pointer;
}

/* Main content */
.content {
  margin: 40px 0;
}
.content .panel-heading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.progress .progress-bar {
  transition: none;
}
.progress .space {
  float: left;
  width: 0;
  height: 100%;
  color: #FFF;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
}

.panel-body .list-group,
.panel-footer .list-inline {
  margin-bottom: 0;
}
.panel-body .list-group li.text-nowrap {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.list-group-item-header {
  background-color: #eee;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    max-width: 730px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  /* Smaller padding */
  .container .jumbotron, .container-fluid .jumbotron {
    padding-right: 42px;
    padding-left: 42px;
  }
  .jumbotron h1 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

/* Only blue accents */
.btn-success, .label-success {
  background-color: #337AB7 !important;
  border-color: #337AB7 !important;
  color: #fff !important;
}
.btn-success:hover {
  background-color: #285f8f !important;
  border-color: #285f8f !important;
}
.progress-bar-success {
  background-color: #337AB7;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Dark mode */
.dark-mode-toggle {
  border-radius: 4px;
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: transparent;
}
html.dark {
  color-scheme: dark !important;
}
.dark body {
  background-color: #080B0C;
  color: rgb(211, 205, 197);
}
.dark .jumbotron {
  background-color: #141619;
}
.dark .header {
  border-bottom-color: rgb(44, 50, 52);
}
.dark .input-group-addon {
  background-color: #141619;
  border-color: rgb(52, 59, 61);
  color: rgb(186, 179, 167);
}
.dark .form-control {
  background-color: #080B0C;
  border-color: rgb(52, 59, 61);
  color: rgb(186, 179, 167);
}
.dark .panel-default>.panel-heading {
  background-color: #0F1213;
  border-color: rgb(48, 52, 56);
  color: rgb(211, 205, 197);
}
.dark .list-group-item-header {
  background-color: #141619;
}
.dark .list-group-item {
  background-color: #080B0C;
  border-color: rgb(48, 52, 56);
}
.dark .panel {
  background-color: #080B0C;
}
.dark .panel-default {
  border-color: rgb(48, 52, 56);
}
.dark .panel-footer {
  background-color: #0F1213;
  border-top-color: rgb(48, 52, 56);
}
.dark .footer {
  border-top-color: rgb(44, 50, 52);
  color: rgb(161, 151, 137);
}
.dark input {
  border-color: #716859;
  background-color: #080b0c;
}
.dark .btn {
  color: #EEE;
}
.dark .close {
  color: #FFF;
}
.dark .progress {
  background-color: rgb(15, 18, 19);
}
.dark .progress-striped .progress-bar-success {
  background-image: linear-gradient(45deg, rgba(8, 11, 12, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(8, 11, 12, 0.15) 50%, rgba(8, 11, 12, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0))
}
.dark .alert-info {
  color: rgb(115, 186, 220);
  background-color: rgb(0, 36, 56);
  border-color: rgb(6, 84, 100);
}
.dark .panel-success > .panel-heading {
  color: rgb(115, 186, 220);
  background-color: rgb(0, 36, 56);
  border-color: rgb(6, 84, 100);
}
.dark .panel-success {
  border-color: rgb(6, 84, 100);
}
.dark .panel-warning > .panel-heading {
  color: rgb(209, 178, 122);
  background-color: rgb(53, 43, 0);
  border-color: rgb(105, 68, 0);
}
.dark .panel-warning {
  border-color: rgb(105, 68, 0);
}
