<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="">Torrents</a></li>
    <li><a href="">About</a></li>
  </ul>
  <h3 class="text-muted">peerflix server</h3>
</div>

<div class="jumbotron">
  <h1>Stream Torrents</h1>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">magnet:</span>
      <input type="text" class="form-control" placeholder="Magnet link" ng-model="link">
    </div>
  </div>
  <a class="btn btn-success" href="" ng-click="download()">
    <span class="glyphicon glyphicon-cloud-download"></span>
    Download
  </a>
</div>

<div class="row content">
  <h4>Torrents</h4>
  <div ng-repeat="torrent in torrents" class="panel panel-default" ng-class="{ 'panel-success': torrent.interested }">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-download-alt"></span>
      {{ torrent.name }}
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="file in torrent.files">
          <span class="glyphicon glyphicon-cloud-download"></span>
          <a href="/torrents/{{ torrent.infoHash }}/files/{{ $index }}" target="_blank">
            {{ file.name }} ({{ file.length / 1024 / 1024 | number }} MB)
          </a>
        </li>
      </ul>
    </div>
    <div class="panel-footer" ng-if="torrent.stats">
      Speed: {{ torrent.stats.down / 1024 | number }} / {{ torrent.stats.up / 1024 | number }} KB/s
      Down/Up: {{ torrent.stats.downloaded / 1024 / 1024 | number }} / {{ torrent.stats.uploaded / 1024 / 1024 | number }} MB
      Peers: {{ torrent.stats.peers | number }}
      Queue: {{ torrent.stats.queued | number }}
    </div>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> peerflix</p>
</div>
