<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="">Torrents</a></li>
    <li><a href="">About</a></li>
  </ul>
  <h3 class="text-muted">peerflix server</h3>
</div>

<div class="jumbotron">
  <h1>Stream Torrents</h1>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">magnet:</span>
      <input type="text" class="form-control" placeholder="Magnet link" ng-model="link">
    </div>
  </div>
  <a class="btn btn-success" href="" ng-click="download()"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
</div>

<div class="row content">
  <h4>Torrents</h4>
  <div ng-repeat="torrent in torrents" class="panel panel-default">
    <div class="panel-heading">{{ torrent.name }}</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="file in torrent.files">
          <span class="glyphicon glyphicon-cloud-download"></span>
          <a href="/torrents/{{ torrent.infoHash }}/files/{{ $index }}" target="_blank">{{ file.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> peerflix</p>
</div>
